<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <title>GoWo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="../../assets/brand/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../assets/brand/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../assets/brand/icons/favicon-16x16.png">
        <link rel="manifest" href="../../assets/brand/icons/site.webmanifest">
        <link rel="mask-icon" href="../../assets/brand/icons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="../../public/css/css_reset.css">
        <link rel="stylesheet" href="../../public/css/grid.css">
        <link rel="stylesheet" href="../../public/css/default.css">
        <!--JS-->
        <script src="../../public/js/navigation.js"></script>
        <script src="../../public/js/interactions.js"></script>
        <!--ICONS-->
        <script src="https://unpkg.com/feather-icons"></script>
        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
        <!--FONTS-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="xg-6 lg-6 md-12">
                    <h1>Títulos</h1>
                    <h2>Subtítulos</h2>
                    <p>Parágrafo</p>
                    <h1>Inputs</h1>
                    <input class="normal-input" type="text" placeholder="Digite seu texto aqui...">
                    <select class="normal-select" type="text">
                        <option>Escolha a opção</option>
                        <option>Escolha 1</option>
                        <option>Escolha 2</option>
                    </select>
                    <h2>Radio</h2>
                    <label class="normal-radio">One
                        <input type="radio" checked="checked" name="radio">
                        <span class="checkmark"></span>
                      </label>
                      <label class="normal-radio">Two
                        <input type="radio" name="radio">
                        <span class="checkmark"></span>
                      </label>
                      <label class="normal-radio">Three
                        <input type="radio" name="radio">
                        <span class="checkmark"></span>
                      </label>
                      <label class="normal-radio">Four
                        <input type="radio" name="radio">
                        <span class="checkmark"></span>
                      </label>
                      <h2>Checkbox</h2>
                </div>
            </div>
            <div class="row">
                <div class="xg-3 lg-6 md-12 sm-12">
                    <h2>Buttons</h2>
                    <button class="btn-default" onclick="open_modal('modal-webapp')">Normal - Modal</button>
                    <button class="btn-default btn-complete">Complete</button>
                    <button class="btn-default-outline" onclick="darkTheme();">Dark mode</button>
                    <div class="btn-circle">aaa</div>
                   <br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
            </div>
        </div>

        <div class="v-nav">
            <img class="profile-nav-photo" src="../../assets/images/users/profile_photos/user.png"></img>
            <div class="nav-user">Usuário</div>
            <div class="nav-item-square active-v-nav" onclick="navRed(1)">
                <div>
                <i data-feather="home" class="v-nav-icon"></i>
                <div class="v-nav-item-name">Início</div>
                </div>
            </div>
            <div class="nav-item-square" onclick="navRed(2)">
                <div>
                <i data-feather="message-square" class="v-nav-icon"></i>
                <div class="v-nav-item-name">Chat</div>
                </div>
            </div>
            <div class="nav-item-square" onclick="navRed(3)">
                <div>
                <center><i data-feather="bell" class="v-nav-icon"></i></center>
                <div class="v-nav-item-name">Recentes</div>
                </div>
            </div>
            <div class="nav-item-square" onclick="navRed(4)">
                <div>
                <i data-feather="user" class="v-nav-icon"></i>
                <div class="v-nav-item-name">Perfil</div>
                </div>
            </div>
            <img class="v-nav-brand" src="../../assets/brand/logo-gowo-white-h120.png">
        </div>

        <!--ORDER LIST MOBILE-->
        <div class="bottom-spacer"></div>
        <div id="list-mobile" class="container-fluid bottom-cart-bar xg-hide lg-hide md-show">
            <div class="row" id="mobile-details-fixed" onclick="open_list(1)">
                <div class="md-3">
                    <i data-feather="briefcase"  class='m-icon-cart'></i>
                    <div class="m-counter-cart">3</div>
                </div>
                <div class="md-6">
                    <div class="text-cart-bottom">Ver lista</div>
                </div>
                <div class="md-3">
                    <div class="m-price">R$ 19,99</div>
                </div>
            </div>
            <div id="mobile-details-list" class="mobile-details-list">
                <div id="header-details-list-mobile" class="header-details-list-mobile">
                    <i class="close-mobile-details-list" data-feather="x" onclick="open_list(5)"></i>
                    <i data-feather="briefcase"  class='mobile-details-icon'></i>
                    <div class="mobile-details-title">Sua lista</div>
                </div>
                <div class="mobile-all-orders">
                    <div class="order-mobile" id="order1">
                        <div class="title-order">
                            <img class="order-place-img" src="../../assets/images/users/profile_photos/cabeca-de-ideias.png">
                            <div class="order-place-name">Cabeça de Ideias</div>
                        </div>
                        <div class="desc-order">
                            <div class="mobile-order-item">Identidade Visual - Básico</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--MOBILE BAR NAVIGATION-->

        <div class="container-fluid bottom-nav-bar xg-hide lg-hide md-show">
            <div class="row">
                <div class="md-3 center-x-y height-60" onclick="navRed(1)">
                    <div>
                        <center><i data-feather="home" class="nav-icon active-mob"></i></center>
                        <div class="text-nav active-mob">Início</div>
                    </div>
                </div>
                <div class="md-3 center-x-y height-60" onclick="navRed(20)">
                    <div>
                        <center><i data-feather="message-square" class="nav-icon"></i></center>
                        <div class="text-nav">Chat</div>
                        <!--<div class="chat-notification">10</div>-->
                    </div>
                </div>
                <div class="md-3 center-x-y height-60" onclick="navRed(3)">
                    <div>
                        <center><i data-feather="bell" class="nav-icon"></i></center>
                        <div class="text-nav">Recentes</div>
                    </div>
                </div>
                <div class="md-3 center-x-y height-60" onclick="navRed(4)">
                    <div>
                        <center><i data-feather="user" class="nav-icon"></i></center>
                        <div class="text-nav">Perfil</div>
                    </div>
                </div>
            </div>
        </div>

        <!--MODAL-->
            <div class="modal-area" onclick="this.style.display='none'; document.getElementById('modal-webapp').style.display='none'"></div>
            <div class="modal-box" id="modal-webapp">
                <i class="close-modal" data-feather="x" onclick="modalClose(this)"></i>
                <img class="modal-image" src="../../assets/images/ui/images/gowo-web-app-add-homescreen.png">
                <div class="modal-title">Use nosso WebAPP</div>
                <p class="modal-text">Notamos que você está utilizando um dispositivo móvel, <b>adicione nosso WebAPP à tela inicial</b> e tenha uma experiência ainda mais incrível.</p>
                <div class="modal-footer">
                    <button class="modal-btn">Adicionar</button>
                    <button class="modal-btn-outline">Agora não</button>
                <div>
            </img>
        <!--FIM DO MODAL-->


        <script>
            feather.replace();
            order_list_display(0)
        </script>
        <script src="../../public/js/theme.js"></script>
    </body>
</html>