<!DOCTYPE html>
<html lang="pt_br">

<head>
    <title>GoWo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../../../assets/brand/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../assets/brand/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../assets/brand/icons/favicon-16x16.png">
    <link rel="manifest" href="../../../assets/brand/icons/site.webmanifest">
    <link rel="mask-icon" href="../../../assets/brand/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../../../public/css/views/home-local.css">
    <link rel="stylesheet" href="../../../public/css/css_reset.css">
    <link rel="stylesheet" href="../../../public/css/grid.css">
    <link rel="stylesheet" href="../../../public/css/default.css">
    <!--JS-->
    <script src="../../../public/js/navigation.js"></script>
    <script src="../../../public/js/interactions.js"></script>
    <script src="../../../public/js/vanilla-masker.js"></script>
    <!--ICONS-->
    <!--<script src="https://unpkg.com/feather-icons"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>

<body>
    <!--Page loader-->
    <div class="lds-ellipsis" id="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="container" style="padding: 0px;">
        <div class="row">
            <div class="xs-hide sm-hide md-hide lg-2 xg-2"></div>
            <div class="xs-12 sm-12 md-12 lg-8 xg-8 area-header">
                <i data-feather="map-pin" class="feather-icon-header"></i>
                <h2 class="header-area-text">Adionar local</h2>
            </div>
            <div class="xs-hide sm-hide md-hide lg-2 xg-2"></div>
        </div>
    </div>

    <div class="container-no-padings">
        <div class="row">
            <div class="xs-hide sm-hide md-2 lg-3 xg-3"></div>
            <div class="xs-12 sm-12 md-8 lg-6 xg-6">
                <br>
                <br>
                <form id="address_form" method="post">
                    <input class="normal-input" id="cep" type="tel" placeholder="Digite seu CEP" name="cep"
                        maxlength="9" required>
                    <div class="loading-div">
                        <div class="lds-dual-ring"></div>
                    </div>
                    <div class="hidden-before-cep">
                        <input class="normal-input" id="address" type="text" placeholder="Endereço" name="address"
                            required>
                        <input class="normal-input" id="number" type="tel" placeholder="Número" name="number" required>
                        <input class="normal-input" id="nbh" type="text" placeholder="Bairro" name="nbh" required>
                        <input class="normal-input" id="city" type="text" placeholder="Cidade" name="city" required>
                        <select class="normal-input" name="state" id="state" required>
                            <option value="N">Estado</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                        <input class="normal-input" id="compl" type="text" placeholder="Complemento" name="compl"
                            required>
                        <button class="btn-default btn-complete">Adicionar endereço</button>
                    </div>
                </form>

                <p class="cep-discover">Não sei meu CEP</p>

                <div class="adr_search_form">
                    <form id="address_search_form" method="post">
                        <select class="normal-input" name="state_search" id="state_search" required>
                            <option value="N">Estado</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                        <input class="normal-input" id="city_search" type="text" placeholder="Cidade" name="city_search"
                            required>
                        <input class="normal-input" id="nbh_search" type="text" placeholder="Endereço"
                            name="city_search" required>
                        <button class="btn-default btn-complete">Consultar</button>
                    </form>
                </div>

            </div>
            <div class="xs-hide sm-hide md-2 lg-3 xg-3"></div>
        </div>
    </div>

    <!--NAV DESKTOP-->
    <div class="v-nav">
        <img class="profile-nav-photo" src="../../../assets/images/users/profile_photos/user.png"></img>
        <div class="nav-user">Usuário</div>
        <div class="nav-item-square active-v-nav" onclick="navRedSecond(1)">
            <div>
                <i data-feather="home" class="v-nav-icon"></i>
                <div class="v-nav-item-name">Início</div>
            </div>
        </div>
        <div class="nav-item-square" onclick="navRedSecond(2)">
            <div>
                <i data-feather="message-square" class="v-nav-icon"></i>
                <div class="v-nav-item-name">Chat</div>
            </div>
        </div>
        <div class="nav-item-square " onclick="navRedSecond(3)">
            <div>
                <center><i data-feather="bell" class="v-nav-icon"></i></center>
                <div class="v-nav-item-name">Recentes</div>
            </div>
        </div>
        <div class="nav-item-square" onclick="navRedSecond(4)">
            <div>
                <i data-feather="user" class="v-nav-icon"></i>
                <div class="v-nav-item-name">Perfil</div>
            </div>
        </div>
        <img class="v-nav-brand" src="../../../assets/brand/logo-gowo-white-h120.png">
    </div>

    <script>
        feather.replace();
        //open_modal('modal-welcome');
        window.addEventListener("load", function (event) {
            document.getElementById('lds-ellipsis').style.display = 'none';
        });
        VMasker(document.getElementById("cep")).maskPattern('99999-9999');
    </script>
    <script src="../../../public/js/theme.js"></script>
</body>

</html>